article{
    background-color: grey;
    margin: 20px;
    border: 2px solid;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    
}
main button{
    height: 50px;
    width: 150px;
}
main article>div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.inschrijven{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}
img{
    border-radius: 30px;
}