body{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: black;
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
h1{
    text-align: center;
}
p,img,input{
    width: 200px;
}
p{
    height: 20px;
}
img{
    margin: 14px;
}
div.form{
    margin-top: 20px;
    background-color: white;
    width: calc(100% - 40px);
    border-radius: 20px;
}
div.form>div{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.form>div>div{
    padding:5px;
    margin: 5px;
}
button{
    height: 40px;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: white;
}


