main{
    display: flex;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1 200px;

}
ul{
    width: fit-content;
    list-style-type: none;
}
li{
    margin-bottom: 5px;
}


iframe{
    width: 100%;
    height: 800px;
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
}


div.content{
    flex: 1 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    max-width: 100%;
    min-width: none;
}


div.leider{
    border: solid 5px;
    margin: 10px;
}
